# Set the default behavior, in case people don't have core.autocrlf set.
# * text=auto

# Declare files that will always have CRLF line endings on checkout.
*.ki_cad_prl text eol=lf
*.ki_cad_pro text eol=lf